<h2>Title</h2>
<p><%= @book.title %></p>

<h2>Body</h2>
<p><%= @book.body %></p>

<%= link_to "Edit", edit_list_path(@book.id) %>
<a href="https://ad3ff278f2dc42b1a70b7ea09f17141a.vfs.cloud9.ap-northeast-1.amazonaws.com/books">Back</a